.info {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.info .left-info {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info .right-info {
  width: 68%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.info .right-info > .card {
  width: 32%;
  height: fit-content;
}

.last-card {
  margin-top: -400px;
}

.small-text {
  font-weight: 500;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .info .right-info > .card {
    width: 48%;
  }

  .last-card {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .info {
    flex-direction: column;
  }

  .info .left-info {
    width: 100%;
  }

  .info .right-info {
    width: 100%;
  }

  .info .right-info > .card {
    width: 100%;
  }
}
